{% extends 'questions/layout/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{%  block content %}
{% include 'questions/partials/main_question.html' %}
{% for answer in answers %}
{% include 'questions/partials/answer.html'%}
{% endfor %}
                <form method='POST' class="mt-5">
                     {% csrf_token %}
                     {% bootstrap_form form %}

                    {% bootstrap_button button_type="submit" content="ASK!" %}
                </form>
{% include 'questions/partials/pagination.html' %}
{% endblock %}
