{% extends 'core/layout/base.html'%}
{% load django_bootstrap5 %}

{% block content %}
                <h2 class="mb-4 fw-bold">Settings: {{ request.user.username }}</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% bootstrap_form form_user %}
                    {% if request.user.profile.avatar %}
                <div class="mb-3">
                    <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" class="rounded-circle img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                {% endif %}

                {% bootstrap_form form_profile %}
                    {% bootstrap_button button_type="submit" content="Save" button_class="btn-success fw-bold px-4" %}
                </form>

{% endblock %}